body{
  background: blue;
  color: white;
}
 .hero{
   width: 600px;
   text-align: center;
   border: 1px solid black;
   margin: 0 auto;
 }

 header{
   background: red;
   width: 600px;
   margin: 0 auto;
   border: 1px solid black;
 }
